* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-image: url("./assets/andrej-lisakov-V2OyJtFqEtY-unsplash.jpg");
  --primary-color: white;
  --secondary-color: black;
  --shadow-color: rgba(0, 0, 0, 0.4);
}

.dark-theme {
  --background-color: black;
  --background-image: url("./assets/dark-background.jpg");
  --primary-color: white;
  --secondary-color: black;
  --shadow-color: rgba(255, 255, 255, 0.4);
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: 100%;
  background-repeat: repeat;
  color: var(--primary-color);
  font-size: 30px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.438);
}

/* *********** Header ***************** */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 35px;
}

header h1 {
  font-size: 2.5em;
}

header button {
  border-radius: 10px;
  border: none;
  padding: clamp(0.5em, 1vw, 1em) 1.5em;
  margin-left: 20px;
  box-shadow: 4px 4px 4px var(--shadow-color);
  cursor: pointer;
  font-size: clamp(0.4em, 1.5vw, 1.2em);
  font-weight: 900;
  align-self: center;
}

header button:hover {
  translate: -2px -2px;
}

header button:active {
  translate: 2px 2px;
}

/* ************* Hero ********************* */

.hero {
  display: grid;
  grid-template-columns: 2fr minmax(500px, 1.4fr);
  align-items: center;
  min-height: calc(100vh - 100px);
  padding: 0 100px;
}

.hero p {
  line-height: clamp(1.2em, 2vw, 1.6em);
  text-indent: 35px;
  font-size: clamp(.7em, 2vw, 1.6em);
}

.hero img {
  width: 80%;
  border-radius: 50%;
  margin-left: 50px;
}

/*********** Skills Section ******** */

.skills {
  margin-top: 30px;
  min-height: 100vh;
  padding: 0 35px;
}

.skills h2 {
  display: flex;
  justify-content: center;
  font-size: clamp(1.6em, 2vw, 2.5em);
  margin-bottom: 30px;
}

.skills h3 {
  font-size: clamp(1.2em, 2vw, 1.6em);
}

.skills ul {
  list-style-type: none;
  margin: 20px 10px 80px 20px;
}

.skills ul li {
  display: inline-block;
  text-wrap: nowrap;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 55px;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px var(--shadow-color);
  transition: all 0.2s ease;
  font-size: clamp(0.8em, 1.5vw, 1.2em);
  user-select: none;
}

.skills ul li:hover {
  transform: scale(1.2);
  outline: 1px solid;
}

/* ************ Projects ******************** */

.projects > * {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  padding: 0 35px;
}

.projects a,
.projects a:visited {
  color: var(--primary-color);
}

.projects h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-size: clamp(1.6em, 2vw, 2.5em);
}

.projects a {
  min-width: 60%;
  max-height: 900px;
  overflow: hidden;
  display: block;
  transition: all 0.5s ease;
  text-align: center;
    border-radius: 30px;
}

.projects img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;

  transition: all 0.5s ease;
  display: block;
}

.projects a:hover {
  scale: 1.02;
}

.projects .project-content {
  margin: 10px;
  padding: 40px;
}

.projects .project-content h4 {
  display: flex;
  justify-content: center;
  font-size: clamp(1.2em, 2vw, 1.6em);
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.projects .project-content h4:hover {
  scale: 1.05;
}

.projects .project-content p {
  font-size: clamp(.7em, 2vw, 1.6em);
  line-height: 1.6;
  margin-bottom: 20px;
}

/* ********** Footer ************** */

footer {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

footer .contact-links {
  display: flex;
  justify-content: space-evenly;
}

footer .contact-links a {
  transition: 0.2s all ease;
  padding: 20px 0;
}

footer .contact-links a:hover {
  scale: 1.2;
}

/* **************************** Media Q's ************************** */

@media (max-width: 580px) {

  header {
    flex-direction: column-reverse;
    align-items: center;
  }

  header button {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .hero {
    padding: 0 50px;
    margin-top: 40px;
  }

  .skills ul li {
    padding: 10px 20px;
  }

  .projects .project-content {
    padding: 20px 0;
  }

  .projects .project-content p {
    padding: 20px 0;
  }
}

@media (max-width: 730px) {
  .header {
    margin: 0;
  }

  .hero {
    min-height: 70vh;
  }
}

@media (max-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero img {
    width: 50%;
    margin-bottom: 80px;
    margin-left: 0px;
  }
}

@media (max-width: 1525px) {
  .projects > * {
    display: flex;
    flex-direction: column;
  }

  .projects .project2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .projects img {
    min-width: 100%;
    outline: 1px solid;
  }
}
